<div id="view-vod-groups" class="view">
    <div class="flex-container">
        <!-- Sidebar -->
        <div id="vod-groups-sidebar" class="sidebar">
            <div id="btn-mode-tv-vod" class="sidebar-btn focusable" onclick="App.switchMode('TV')">
                <span class="icon">TV</span>
            </div>
            <div id="btn-mode-vod-vod" class="sidebar-btn focusable active-mode" onclick="App.switchMode('VOD')">
                <span class="icon">VOD</span>
            </div>
        </div>

        <!-- Main Content -->
        <div class="groups-content">
            <h2 id="vod-groups-title">Movies Groups</h2>
            <div id="vod-groups-list" class="list-container"></div>
        </div>
    </div>
</div>